<div class="dialog-content-wrapper"  id="teacher">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{title}}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0"  fusePerfectScrollbar>
        <mat-card>

        <form name="registerForm" [formGroup]="registerForm" novalidate>
    <div class =" ">
      <div class =" row" *ngIf="data.type !='note'">
      <div class ="col s12 m12 l12">
          <mat-form-field>

          <input matInput placeholder="Name" name ="name" formControlName="name">
</mat-form-field>
      </div>
       <div class ="col s12 m12 l12"  *ngIf ="data.type != 'category'">
        <mat-form-field  *ngIf ="data.action == 'nothourly'">

        <input matInput placeholder="percentage" name ="percentage" formControlName="percentage">
</mat-form-field>
<mat-form-field  *ngIf ="data.action != 'nothourly'">

  <input matInput type ="number" placeholder="No. Of hour" name ="percentage" formControlName="percentage">
</mat-form-field>

    </div>
    </div>
    <div class =" row" *ngIf="data.type =='note'">
        <div class ="col s12 m12 l12">
            <mat-form-field>
  
            <input matInput placeholder="title" name ="name" formControlName="title">
  </mat-form-field>
        </div>
         <div class ="col s12 m12 l12"  >
          <mat-form-field  >
              <textarea matInput placeholder="Description" formControlName="description"></textarea>

   </mat-form-field>
  
  
      </div>
      </div>
  </div>
 

</form>
</mat-card>
</div>
<div mact-dialog-actions style ="float: right;padding:10px
 "  > 
<span  *ngIf ="data.type == 'category'">  <button mat-raised-button color="primary" (click) ="createCategory()" >Add</button>
</span>
<span  *ngIf ="data.type == 'note' && data.action =='add' ">  <button mat-raised-button color="primary" (click) ="createnote()" >Add</button>
</span>
<span  *ngIf ="data.type == 'note' && data.action =='update' ">  <button mat-raised-button color="primary" (click) ="updatenotefde()" >Update</button>
</span>
<span  *ngIf ="data.type == 'unit'">
  <span  *ngIf ="data.action == 'nothourly'">
    <button mat-raised-button color="primary" *ngIf ="data.option == 'add'" (click) ="addunit()" >Add</button>
    <button mat-raised-button color="primary" (click) ="editunit()"   *ngIf ="data.option == 'edit'">edit</button>

  </span>
  <span  *ngIf ="data.action != 'nothourly'">
    <button mat-raised-button color="primary" (click) ="addhourunit()" >Add</button>
  </span>
    
</span>
  <button mat-raised-button color="primary" (click) ="onNoClick()" >Close</button>

</div>
