@import "src/app/core/scss/fuse";

:host {
    .mat-table{
        margin-top:30px;
     }
    mat-row:nth-child(even){
        background-color:white;
        }
        mat-header-row{
            min-height: 30px !important;
        }
 mat-row:nth-child(odd){
        background-color:#efecec;
        }
      .mat-row{
 
       }  
      .mat-cell{
          padding:5px;
        height: 100%;
        }
    .header {
       
        .search-input-wrapper {
            max-width: 480px;
        }

        @include media-breakpoint-down(xs) {
            height: 176px !important;
            min-height: 176px !important;
            max-height: 176px !important;
        }
    }

    .top-bg {
        @include media-breakpoint-down(xs) {
            height: 240px;
        }
    }
    .page-layout.carded.fullwidth > .center .header{
        height: 93px !important;
    min-height: 93px !important;
    max-height: 93px !important ;
    }
    .page-layout.carded .top-bg{
        height: 120px !important;
    }
    .products-table {
        flex: 1 1 auto;
         overflow: auto;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 58px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}
