<div id="CreateProject"  class="container"  fusePerfectScrollbar>
  <div class="row">
   <div class ="col l12 m12 s12">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Basic Info</ng-template>
      <div class ="col l12 m12 s12">
      <mat-form-field appearance="outline" style ="width:100%">
          <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="firstCtrl" required>
      </mat-form-field>
      </div>
      <div class ="col l3 m3  s12">

          <mat-checkbox   >Hourly</mat-checkbox>

      </div>
   
      <div class="col s12 m9 l9">
          <div class="col s12 m4 l4">
        <mat-form-field appearance="outline"   >
            <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Start Date"  >
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>          
          
          </div>
          <div class="col s12 m4 l4"> 
            <mat-form-field style ="  margin-left:12px"appearance="outline"   >
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="End Date"  >
                <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>    
            </div>
          </div>
          <div class="col s12 m12 l12"    >
         
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description"   ></textarea>
            </mat-form-field>
          </div>
      <div>
          <button mat-raised-button color="primary" matStepperNext >Next</button>

        
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Priority</ng-template>
      <div class ="col m6 l6 s12">
        <div class ="col m10 l10 s10">
      <mat-form-field   appearance="outline">
          <mat-label>Select Category</mat-label>
          <mat-select placeholder="Select Category"   > 
            <mat-option  *ngFor ="let list of categoryList" [value]="list.scId">
             {{list.name}}
            </mat-option>
          </mat-select>
        </mat-form-field></div>
     
        <div class="col s2 m2 l2">

            <button mat-icon-button (click) ="category()">
                <mat-icon aria-label="Example icon-button with a heart icon">add_box</mat-icon>
              </button>
              </div> 
            </div>
            <div class ="col m6 l6 s12">

          <mat-form-field appearance="outline">
              <mat-label>Select Priority</mat-label>
            <mat-select placeholder="Select Priority" >
              <mat-option   value ="High">
               High
              </mat-option>
              <mat-option  value ="Normal" >
                Normal
               </mat-option><mat-option  value ="Low" >
                Low
               </mat-option>
            </mat-select>
          </mat-form-field>
            </div>
      <div>
     
        <button mat-raised-button color="primary" matStepperPrevious >Back</button>

        <button mat-raised-button color="primary" matStepperNext >Next</button>
        
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Unit</ng-template>
        <div class="col s4 m4 l4">
            <mat-checkbox style ="   margin-left: 12px;" formControlName="IncludeUnit">Include Unit</mat-checkbox>
        
          </div>

          <div class="col s12 m12 l12" style ="padding-top:17px">
              <div class= "col s12 m12 l12"  *ngIf="unitList.length >0">
                  <table>
                      <tr>
                        <th>
                          Unit
                        </th>
                        <th>
                          Percentage
                        </th>
                        <th>
                            Option
                          </th>
                      </tr>
                      <tr *ngFor= "let list of unitList ;let i = index">
                        <td>{{list.name}}</td>
                        <td>{{list.percentage}}%</td>
                        <td><button mat-icon-button  >
                            <mat-icon aria-label="Example icon-button with a heart icon" (click) ="editUnit(list,i)">edit</mat-icon>
                          </button><button mat-icon-button  >
                              <mat-icon aria-label="Example icon-button with a heart icon" (click) ="deleterow(i)">delete</mat-icon>
                            </button></td>
                      </tr>
                      <tr  >
                        <td><strong>Total</strong></td>
                        <td>{{total}} % </td>
            </tr>
                    </table>
            </div>
            <div class= "col s12 m12 l12">
            
                    <button mat-raised-button color="primary" style ="    margin-top: 16px;"  *ngIf="secondFormGroup.value.IncludeUnit" (click) = "addUnit();">Add Unit</button>
                </div>
            </div>      
             
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Assign To</ng-template>

        </form>
      </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div></div></div>
<!-- <div id="CreateProject"  class="container"  fusePerfectScrollbar>
     <div class="row">
      <div class ="col l12 m12 s12">
   <mat-card class ="col l12 m12 s12">Subject Create</mat-card> 
   </div>
     </div>
      <mat-card> 
<form name="registerForm" [formGroup]="registerForm" > 
<div class="row">
  <div class="col s12 m12 l12">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Title"  formControlName="title"  >
        </mat-form-field>
  </div>
  <div class="col s12 m6 l6" >
      <div class="col s12 m6 l6">

      <div class="col s10 m10 l10">

      <mat-form-field>
          <mat-select placeholder="Select Category"  formControlName="categoryId">
            <mat-option  *ngFor ="let list of categoryList" [value]="list.scId">
             {{list.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
       
        </div> <div class="col s2 m2 l2">

            <button mat-icon-button (click) ="category()">
                <mat-icon aria-label="Example icon-button with a heart icon">add_box</mat-icon>
              </button>
              </div> </div>
        <div class="col s12 m6 l6">

          <mat-form-field>
            <mat-select placeholder="Select Priority"  formControlName="priority">
              <mat-option   value ="High">
               High
              </mat-option>
              <mat-option  value ="Normal" >
                Normal
               </mat-option><mat-option  value ="Low" >
                Low
               </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
</div>
<div class="col s12 m6 l6" style ="    padding: 15px;">
  <div class="col s4 m4 l4">
      <mat-checkbox style ="    margin-left: 12px;" formControlName="private">Private</mat-checkbox>

</div>
<div class="col s4 m4 l4">
  <mat-checkbox   formControlName="hourlyWorking">Hourly</mat-checkbox>

</div>
<div class="col s4 m4 l4">
    <mat-checkbox style ="   margin-left: 12px;" formControlName="IncludeUnit">Include Unit</mat-checkbox>

  </div>

</div>
<div class="col s12 m6 l6">
  <div class="col s12 m6 l6">
      <mat-form-field  >
          <input matInput [matDatepicker]="picker" placeholder="Start Date"  formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>          
      
    </div>
    <div class="col s12 m6 l6">
        <mat-form-field style ="  margin-left:12px">
            <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>    
      
      </div>
       <div class="col s12 m12 l12" style ="    padding-top: 27px;"  *ngIf="unitList.length >0">
          <mat-progress-bar mode="determinate" [value]="total"></mat-progress-bar>
      
      </div>   
      

<div class="col s12 m12 l12" style ="padding-top:17px">
  <div class= "col s12 m12 l12"  *ngIf="unitList.length >0">
      <table>
          <tr>
            <th>
              Unit
            </th>
            <th>
              Percentage
            </th>
            <th>
                Option
              </th>
          </tr>
          <tr *ngFor= "let list of unitList ;let i = index">
            <td>{{list.name}}</td>
            <td>{{list.percentage}}%</td>
            <td><button mat-icon-button  >
                <mat-icon aria-label="Example icon-button with a heart icon" (click) ="editUnit(list,i)">edit</mat-icon>
              </button><button mat-icon-button  >
                  <mat-icon aria-label="Example icon-button with a heart icon" (click) ="deleterow(i)">delete</mat-icon>
                </button></td>
          </tr>
          <tr  >
            <td><strong>Total</strong></td>
            <td>{{total}} % </td>
</tr>
        </table>
</div>
<div class= "col s12 m12 l12">

        <button mat-raised-button color="primary" style ="    margin-top: 16px;"  *ngIf="registerForm.value.IncludeUnit" (click) = "addUnit();">Add Unit</button>
    </div>
</div>      
</div>
<div class="col s12 m6 l6">
  <div class="col s12 m12 l12" *ngIf="!registerForm.value.private">

  <mat-form-field style ="      margin-left: 23px;
  width: 96%; 
  " >
      <mat-select placeholder="Assign To"  multiple formControlName="assign_to" (selectionChange) ="test()" >
        <mat-option *ngFor ="let list of teacherList" [value] ="list.teacherId"  >{{list.fName + ' ' + list.mName + ' ' + list.lName}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="col s12 m6 l6" *ngIf="registerForm.value.hourlyWorking">
         <mat-form-field   style ="   margin-left: 23px;  "class="example-full-width" >
            <input matInput placeholder="No Of Hour"   >
          </mat-form-field>
          </div>
          <div class="col s12 m6 l6">

              <mat-form-field style ="           margin-left: 10px;
              " *ngIf="(!registerForm.value.private) &&  showClassTeacher " >
                  <mat-select placeholder="Class Teacher"    formControlName="classTeacher">
                    <mat-option  *ngFor ="let list of testss" [value] ="list.teacherId"  >{{list.fName + ' ' + list.mName + ' ' + list.lName}}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
</div>
<div class="col s12 m12 l12">
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description"  formControlName="description"></textarea>
      </mat-form-field>
    
</div>
</div>

 
<button mat-raised-button color="primary" style ="    margin-top: 16px;" (click) = "createSubject()">Create Subject</button>
<button mat-raised-button color="primary" style ="    margin-top: 16px;">Back</button>
</form>
</mat-card>
</div> -->