<h1 mat-dialog-title>Session </h1>
<div mat-dialog-content>
  <form name="registerForm" [formGroup]="registerForm"  novalidate>
      
      <mat-form-field  style ="          width: 45%;
      float: left;">
          <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
            <input matInput placeholder="Start Year" name ="name"  formControlName="startYear"  >
         
      </mat-form-field>
      <mat-form-field  style ="        width: 45%;
      float: right;">
          <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
            <input matInput placeholder="End Year" name ="name2"   formControlName="endYear" >
         
      </mat-form-field>
      <mat-form-field style="width:90%">
        <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
        <mat-select placeholder="Select Course"  name ="dep"   formControlName="courseId" >
         <mat-option  *ngFor = "let department of CouList" [value] ="department.courseId" >{{department.courseName}}</mat-option>    
  
       </mat-select>
   
    </mat-form-field>
  

</form>
</div>
<div mact-dialog-actions style ="float: right;
margin-top: 14%;
"  >
  <button mat-raised-button color="primary" (click) ="createUser()" *ngIf = "data.type == 'create'">Add</button>
  <button mat-raised-button color="primary" (click) ="updateUser()" *ngIf = "data.type == 'update'">Update</button>

  <button mat-raised-button color="primary" (click) ="onNoClick()"  >Close</button>

</div>
