<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Branch</span>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" >
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
             
            <div fxLayout="row">
                <div class="selected-project">{{selectedProject.courseName}}</div>
                <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu" aria-label="Select project">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #projectsMenu="matMenu">
                    <button mat-menu-item *ngFor="let project of CouList" (click)="selectedProject = project ;  "  >
                        <span>{{project.courseName}}</span>
                    </button>
                </mat-menu>
            </div>
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                
                 <button mat-mini-fab (click) ="addUser()" style ="    margin-left: 41%;">
                    <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
                  </button>
            <button mat-raised-button
             class="add-product-button mat-white-bg my-3 mt-sm-0" style ="    margin-left: 4%;">
        <span>Import cvc</span>
    </button>
    <button mat-raised-button
     class="add-product-button mat-white-bg my-3 mt-sm-0" style ="    margin-left: 4%;">
  <span>Sample cvc</span>
  </button>
  </div>
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
  <div >
                <mat-table class="products-table" 
            #table [dataSource]="dataSource"
            matSort
            [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>

     <!-- ID Column -->
     <ng-container cdkColumnDef="Sno">
         <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
         <mat-cell *cdkCellDef="let product ;let i = index ">
             <p class="text-truncate"> {{i +1 }}</p>
         </mat-cell>
     </ng-container>



     <!-- Name Column -->
     <ng-container cdkColumnDef="branchName">
         <mat-header-cell *cdkHeaderCellDef mat-sort-header>Branch Name</mat-header-cell>
         <mat-cell *cdkCellDef="let Course">
             <p class="text-truncate">{{Course.branchName}}</p>
         </mat-cell>
     </ng-container>

     <!-- Category Column -->
     <ng-container cdkColumnDef="Course">
         <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Course</mat-header-cell>
         <mat-cell *cdkCellDef="let Course" fxHide fxShow.gt-md>
             <p class="category text-truncate">
                 {{Course.courseName}}
             </p>
         </mat-cell>
     </ng-container>

     <!-- Price Column -->
  
     <!-- Quantity Column -->
     <ng-container cdkColumnDef="option">
         <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Type</mat-header-cell>
         <mat-cell *cdkCellDef="let Course" fxHide fxShow.gt-sm>
                <button mat-icon-button  >
                        <mat-icon aria-label="Example icon-button with a heart icon" (click) ="$event.stopPropagation();update(Course)">edit</mat-icon>
                      </button>
       
          

         </mat-cell>
     </ng-container>

     <!-- Active Column -->
    

     <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

     <mat-row *cdkRowDef="let product; columns: displayedColumns;"
              class="product" (click)="BranchSelect(product)"
              matRipple
              >
     </mat-row>

 </mat-table>
</div>
 
 <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
 </mat-paginator>
  
  
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>
  