<div class="container" fusePerfectScrollbar >
  <div class="row">
          <div class="col s12 m12 l12" style ="margin-bottom: 10px">
              <mat-card>

                Subject   {{title}} Unit Assignment
              </mat-card>
          </div>

          <div class ="col s12 m12 l12">
              <mat-card style ="min-height: 85px;">
             
<div class="col l3 right">
  <mat-form-field class="col l12">
            <mat-icon matPrefix>search</mat-icon>

      <input type="text" matInput placeholder="Search">
    </mat-form-field>
  </div>
</mat-card>
           </div>
           <div class ="col s12 m12 l12">
            <mat-card style ="min-height: 85px;
            margin-top: 21px;">
              <mat-accordion>
                <mat-expansion-panel *ngFor ="let list of unitList"  (opened)="lession(list)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{list.unit}}
                    </mat-panel-title>
                    
                    <mat-panel-description>
                      {{list.completed}} Completed
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-card style ="padding: 25px;">

                    <div class="col l12 unit-tbl">
                      <div class="col l11 left padding-top-10">
                         Unit  {{list.unit}} Assignment
                         </div>
                        

                  <div class="col l1 right">
                    <button mat-mini-fab (click) ="addtask(list)"  style ="float:right; " >
                      <mat-icon aria-label="Example icon-button with a heart icon" style ="color:white" >add_circle</mat-icon>
                    </button>
                    </div>
                  </div>
                  </mat-card>
                  <mat-card style ="min-height: 85px;">
                    <div class="content-card mat-white-bg">
             
                        <mat-table class="products-table"
                        #table [dataSource]="dataSource"
                        matSort
                        [@animateStagger]="{value:'50'}"
                        fusePerfectScrollbar>
              
                 <!-- ID Column -->
                 <ng-container cdkColumnDef="Sno">
                     
                     <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
                     <mat-cell *cdkCellDef="let product ;let i = index ">
                         <p class="text-truncate"> {{i +1 }}</p>
                     </mat-cell>
                 </ng-container>
              
              
              
                 <!-- Name Column -->
              
                 <ng-container cdkColumnDef="title">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Title</mat-header-cell>
                    <mat-cell *cdkCellDef="let department">
                        <p class="text-truncate">{{department.title }}</p>
                    </mat-cell>
                </ng-container>
             
                <ng-container cdkColumnDef="date">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Date</mat-header-cell>
                    <mat-cell *cdkCellDef="let department">
                        <p class="text-truncate">{{department.date|date }}</p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="createdBy">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Created by</mat-header-cell>
                  <mat-cell *cdkCellDef="let department">
                      <p class="text-truncate">{{department.createdBy   }}</p>
                  </mat-cell>
              </ng-container>
               
                 <ng-container cdkColumnDef="option">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Option</mat-header-cell>
                    <mat-cell *cdkCellDef="let department">
                         
                          <button mat-icon-button (click) ="$event.stopPropagation();edittask(department);"   >
                              <mat-icon aria-label="Example icon-button with a heart icon"  >edit</mat-icon>
                            </button>                     </mat-cell>
                </ng-container>
                 <!-- Category Column -->
               
               
                 <!-- Price Column -->
              
                 <!-- Quantity Column -->
                  
              
                 <!-- Active Column -->
                
              
                 <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
              
                 <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                          class="product"
                          matRipple
                          (click)="lessionDetail(product)" >
                 </mat-row>
              
              </mat-table>
              
              <mat-paginator #paginator
                            [length]="dataSource.filteredData.length"
                            [pageIndex]="0"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
              
                    </div>
</mat-card>
                </mat-expansion-panel>
                
              </mat-accordion>
              
</mat-card>
</div>
          </div>
        </div>
