<mat-toolbar style ="height: 50px;">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

     
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs style = "width: 100%;"> 
            <a mat-button   style ="font-size:10px ; margin-left:18%">techleysium @ 2018</a>
            <a mat-button   style ="font-size:12px">User Agreement</a>
            <a mat-button   style ="font-size:12px">Privacy Policy</a>

            <a mat-button   style ="font-size:12px">Community Guidlines</a>

            <a mat-button   style ="font-size:12px">Cookie Policy</a>

            <a mat-button   style ="font-size:12px">Copyright Policy </a>
            <a mat-button   style ="font-size:12px">Guest Control</a>
            <a mat-button   style ="font-size:12px">Language</a>
            
        </div>

    </div>

</mat-toolbar>
