<div id="about" class="p-24" fxLayout="row" fxLayoutWrap>

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="95" fxFlex.gt-md="95">

        <div class="profile-box info-box general" fxLayout="column">
             <header class="mat-accent-bg">
                <div class="title" >General Information    <button (click)="editInfortmation('general')" class="mat-icon-button" aria-label="Add location" mat-icon-button="" mattooltip="Add location" aria-describedby="cdk-describedby-message-12" cdk-describedby-host="" ng-reflect-message="Add location" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);float:right;"><span class="mat-button-wrapper">
                    <mat-icon _ngcontent-c36="" class="mat-icon ng-tns-c36-17 material-icons" role="img" aria-hidden="true">edit</mat-icon>
                </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button> </div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Gender</div>
                    <div class="info"> </div>
                </div>

                <div class="info-line">
                    <div class="title">Birthday</div>
                    <div class="info"> </div>
                </div>

                <div class="info-line">
                    <div class="title">Locations</div>
                    <div class="info location" fxLayout="row" fxLayoutAlign="start center"
                       >
                        <span> </span>
                        <mat-icon class="s-16 ml-4">location_on</mat-icon>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">About Me</div>
                    <div class="info"> </div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box work" fxLayout="column">

            <header class="mat-accent-bg">
                <div class="title">Work <button  (click)="editInfortmation('work')" class="mat-icon-button" aria-label="Add location" mat-icon-button="" mattooltip="Add location" aria-describedby="cdk-describedby-message-12" cdk-describedby-host="" ng-reflect-message="Add location" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);float:right;"><span class="mat-button-wrapper">
                    <mat-icon _ngcontent-c36="" class="mat-icon ng-tns-c36-17 material-icons" role="img" aria-hidden="true">edit</mat-icon>
                </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button></div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Occupation</div>
                    <div class="info"> </div>
                </div>

                <div class="info-line">
                    <div class="title">Skills</div>
                    <div class="info"> </div>
                </div>

                <div class="info-line">
                    <div class="title">Jobs</div>
                    <table class="info jobs">
                        <tr class="job" >
                            <td class="company"> </td>
                            <td class="date"> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="profile-box info-box contact" fxLayout="column">

            <header class="mat-accent-bg">
                <div class="title">Contact <button (click)="editInfortmation('contact')" class="mat-icon-button" aria-label="Add location" mat-icon-button="" mattooltip="Add location" aria-describedby="cdk-describedby-message-12" cdk-describedby-host="" ng-reflect-message="Add location" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);float:right;"><span class="mat-button-wrapper">
                    <mat-icon _ngcontent-c36="" class="mat-icon ng-tns-c36-17 material-icons" role="img" aria-hidden="true">edit</mat-icon>
                </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button></div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Address</div>
                    <div class="info"> </div>
                </div>
                <div class="info-line">
                    <div class="title">Tel.</div>
                    <div class="info"  >
                        <span> </span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Website</div>
                    <div class="info"  >
                        <span> </span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Emails</div>
                    <div class="info"  >
                        <span> </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    

</div>
