<div class="container" fusePerfectScrollbar >
  <div class="row">
          <div class="col s12 m12 l12" style ="margin-bottom: 10px">
              <mat-card>

                Subject   Unit Assignment
              </mat-card>
          </div>
          <div class ="col s12 m12 l12">
              <mat-card style ="min-height: 85px;">
             
<span   style ="float: right;width:45%">
  <mat-form-field class=" ">
            <mat-icon matPrefix>search</mat-icon>

      <input type="text" matInput placeholder="Search">
    </mat-form-field>
                        </span>
</mat-card>
           </div>
           <div class ="col s12 m12 l12">
            <mat-card style ="min-height: 85px;">
               
              
</mat-card>
</div>
          </div>
        </div>
