<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Course</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <form name="registerForm" [formGroup]="registerForm"     novalidate>

    <div mat-dialog-content class ="p-24 m-0"  >
      <mat-card>
        <div class ="row">
          <div class ="col s12 m12 l12">
              <mat-form-field    class ="col s12 m12 l12" appearance="outline">
                <mat-label>Semester Name</mat-label>
                  <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
                    <input matInput placeholder="Semester Name" name ="name"   formControlName="semesterName">
              </mat-form-field>  
          </div>
          <div  class ="col s12 m6 l6">
              <mat-form-field  class ="col s12 m12 l12" appearance="outline">
                <mat-label>Start At</mat-label>
                  <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
                     <input matInput [min]="minDate" [matDatepicker]="picker"   (dateChange)="addEvent('change', $event)"placeholder="Start At">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                             </mat-form-field>
          
                
       
      <mat-form-field  class ="col s12 m12 l12" appearance="outline">
        <mat-label>Select Branch</mat-label>
          <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
          <mat-select placeholder="Branch"  name ="dep"      formControlName="courseBranchId" >
           <mat-option  *ngFor = "let department of  depList" [value] ="department.courseBranchId" >{{department.branchName}}</mat-option>    
    
         </mat-select>
     
      </mat-form-field> </div>
          <div  class ="col s12 m6 l6">
              <mat-form-field   class ="col s12 m12 l12"  appearance="outline">
                <mat-label>Select Branch</mat-label>
                  <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
                  <input matInput [matDatepicker]="picker1" [min]="minDate2"  (dateChange)="addEvent2('change', $event)" placeholder="End At">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>         
              </mat-form-field>
                 
  
    <mat-form-field  class ="col s12 m12 l12" appearance="outline">
        <mat-label>Session</mat-label>
        <!-- <mat-icon matPreffix  style ="font-size:19px"> face</mat-icon>   -->
        <mat-select placeholder="Session select"  name ="dep2" formControlName="sessionId" >
         <mat-option  *ngFor = "let department of  sessionList" [value] ="department.sessionId" >{{department.startYear}} - {{department.endYear}} </mat-option>    
  
       </mat-select>
   
    </mat-form-field>
          </div>
        </div>
      </mat-card>
    
</div>
<div mat-dialog-actions style ="float: right;
margin-right: 19px;
"  >
  <button mat-raised-button color="primary" (click) ="createUser()" *ngIf = "data.type == 'create'">Add</button>
  <button mat-raised-button color="primary" (click) ="updateUser()" *ngIf = "data.type == 'update'">Update</button>

  <button mat-raised-button color="primary" (click) ="onNoClick()"  >Close</button>

</div>
</form>

</div>