<div class="container">
    <div class="row">
            <div class="col s12 m12 l12" style ="margin-bottom: 10px">
                <mat-card>
  
              Subject Name Notes
              </mat-card>
            </div>
            <div class ="col s12 m12 l12">
                <mat-card style ="min-height: 85px;">
               
<span   style ="float: right;width:32%">
    <mat-form-field class="example-full-width">
              <mat-icon matPrefix>search</mat-icon>

        <input type="text" matInput placeholder="Search">
      </mat-form-field>
                <button mat-mini-fab   >
                   <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
                 </button>
           <button mat-raised-button
            class="add-product-button mat-white-bg my-3 mt-sm-0" style ="    margin-left: 4%;">
       <span>Import cvc</span>
   </button>
   <button mat-raised-button
    class="add-product-button mat-white-bg my-3 mt-sm-0" style ="    margin-left: 4%;">
 <span>Sample cvc</span>
 </button></span>
 </mat-card>
             </div>

            </div>
          </div>